.absences{
  width: 100%;
  .list-inline{
    li{
      padding: 0px;
      margin: 0px;
    }
    li a{
      text-decoration: none;
      padding: 10px 15px;
    }
    li:nth-of-type(2) a{
      text-align: center;
      background-color: rgba(97, 43, 255, 0.2);
    }
    li:hover a{
      background-color: #2e7aa2;
      color: white !important;
    }
    li:nth-of-type(2):hover a{
      background-color: rgba(97, 43, 255, 0.2);
      color: black !important;
    }
  }
}