/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Poppins|Ubuntu|Cabin+Sketch');


body{
	font-family: 'Poppins', sans-serif;
}
#content{
	padding-top: 75px;
	min-height: 100vh;
}
nav.navbar{
	padding: 10px 20px 0px 0px;
}
nav.navbar a.navbar-brand{
	padding: 10px 15px;
	color: #104b6a;
	font-family: 'Cabin Sketch', cursive;
}
nav.navbar .navbar-collapse a{
	color: #104b6a;
	padding: 10px 15px;
	border-radius: 20px;
}
nav.navbar .navbar-collapse a:hover{
	background-color: #2e7aa2;
	color: white;
}
nav.navbar .navbar-toggle{
	border: 1px solid #2e7aa2;
	margin-top: 2px;
}
nav.navbar .navbar-toggle span{
	border: 1px solid #2e7aa2;
}
@media (max-width: 768px) {
	nav.navbar .navbar-collapse{
		background-color: #2e7aa2;
		padding: 20px 0px;
	}
	nav.navbar .navbar-collapse a{
		color: white;
		border-radius: 0px;
		padding: 15px 30px;
	}
	nav .navbar-collapse a:hover, .navbar-collapse a:active{
		background-color: #3C6478;
	}
}
a.important{
	border-radius: 20px;
	border: 1px solid #2e7aa2;
}
#content a, #content .btn{
	color: #104b6a;
}
.footer{
	background-color: rgb(14, 81, 117);
	color: white !important;
	padding: 20px;
	z-index: 1000;
	b{
		font-size: 18px;
	}
	i{
		padding-right: 20px;
	}
}
table thead tr th{
	padding: 20px;
	border: 2px solid white;
	background-color: #2e7aa2;
	color: white;
	font-size: 15px;
	font-weight: normal;
}
table{
	border: 0px !important;
}
table tbody tr{
	font-size: 15px;
	td{
		line-height: 20px !important;
		padding: 20px 0px;
	}
}
h1{
	font-size: 15px;
	padding: 23px 15px;
	border: 2px solid transparent !important;
	background-color: #2e7aa2;
	color: white;
	margin: 0px 0px 30px 0px;
	font-weight: bold;
	a{
		color: white !important;
	}
}
h3{
	margin-top: 50px;
}
.list-inline{
	margin: 0px;
}