/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Poppins|Ubuntu|Cabin+Sketch');

body{
	font-family: 'Poppins', sans-serif;
}
#content{
	padding-top: 75px;
	min-height: 100vh;
}
nav.navbar{
	padding: 10px 20px 0px 0px;
}
nav.navbar a.navbar-brand{
	padding: 10px 15px;
	font-weight: bold;
	color: #104b6a;
	font-family: 'Cabin Sketch', cursive;
}
nav.navbar .navbar-collapse a{
	font-weight: bold;
	color: #104b6a;
	padding: 10px 15px;
	border-radius: 20px;
}
nav.navbar .navbar-collapse a:hover{
	background-color: #2e7aa2;
	color: white;
}
nav.navbar .navbar-toggle{
	border: 1px solid #2e7aa2;
	margin-top: 2px;
}
nav.navbar .navbar-toggle span{
	border: 1px solid #2e7aa2;
}
@media (max-width: 768px) {
	nav.navbar .navbar-collapse{
		background-color: #2e7aa2;
		padding: 20px 0px;
	}
	nav.navbar .navbar-collapse a{
		color: white;
		border-radius: 0px;
		padding: 15px 30px;
	}
	nav .navbar-collapse a:hover, .navbar-collapse a:active{
		background-color: #3C6478;
	}
}
a.important{
	border-radius: 20px;
	border: 1px solid #2e7aa2;
}
#content a, #content .btn{
	font-weight: bold !important;
	color: #104b6a;
}
.footer{
	background-color: rgb(14, 81, 117);
	color: white !important;
	font-weight: bold !important;
	padding: 20px;
	z-index: 1000;
	b{
		font-size: 18px;
	}
	i{
		padding-right: 20px;
	}
}
table thead tr th{
	padding: 20px;
	border: 2px solid white;
	background-color: #2e7aa2;
	color: white;
	font-size: 15px;
	font-weight: bold;
}
table{
	border: 0px !important;
}
table tbody tr td{
	padding: 20px 0px;
	font-size: 15px;
}
h1{
	font-size: 15px;
	padding: 23px 15px;
	border: 2px solid white !important;
	background-color: #2e7aa2;
	color: white;
	font-weight: bold;
	margin: 0px 0px 30px 0px;
}
.sidebar{
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #2e7aa2;
	overflow: hidden;
	height: 100vh;
	padding: 0px;
	z-index: 10;
	color: white;
	font-weight: bold;

	.content{
		padding-top: 75px;
		height: 100%;
		width: calc(100% + 15px);
		overflow-y: scroll;
	}
	.logo{
		position: absolute;
		padding: 20px;
		font-size: 15px;
	}
	.personal{
		padding: 15px;
		position: relative;
		overflow: hidden;
		background-color: rgb(14, 81, 117);
		.image{
			padding: 0px;
		}
		.name a{
			color: white;
			font-size: 15px;
		}
		.image i{
			font-size: 100px;
			width: 100px;
			height: 100px;
			margin: auto auto;
		}
		.info{
			font-weight: bold;
			padding: 0px;
			height: 100px;
			min-width: 200px;
			.footer{
				background-color: transparent;
				padding: 0px;
				position: absolute;
				bottom: 0px;
				a{
					padding: 0px 15px;
					color: white;
				}
			}
		}
	}
	.easy-access{
		a{
			padding: 10px;
			color: white;
			text-align: center;
			span{
				font-size: 15px;
			}
			i{
				padding: 10px;
				font-size: 25px;
			}
		}
	}
	.sidebar-footer{
		position: absolute;
		bottom: 0px;
		background-color: transparent;
		b{
			line-height: 30px;
			a{
				color: white;
			}
		}
		i{
			font-size: 20px;
			padding: 0px 15px 10px 15px;
		}
	}
}
ul.register-options{
	li{
		float: left;
		list-style: none;
		text-align: center;
		font-weight: bold;
	}
}

.homework, .notes{
	padding: 15px;
	.content{
		padding: 10px;
		border-radius: 10px;
		border: 1px solid #2e7aa2;
		.header{
			text-decoration: underline;
		}
	}
}
.give-marks{
	list-style: none;
	li{
		float: left;
	}
	a{
		padding: 10px 15px;
	}
	li:nth-of-type(1) a{
		background-color: rgba(220,20,60,0.5);
	}
	li:nth-of-type(2) a{
		background-color: rgba(246,81,119,0.5);
	}
	li:nth-of-type(3) a{
		background-color: rgba(235,141,49,0.5);
	}
	li:nth-of-type(4) a{
		background-color: rgba(233,217,132,0.5);
	}
	li:nth-of-type(5) a{
		background-color: rgba(178,215,107,0.5);
	}
	li:nth-of-type(6) a{
		background-color: rgba(0,190,189,0.5);
	}
	li:nth-of-type(1) a:hover{
		background-color: rgb(220,20,60);
		color: white !important;
	}
	li:nth-of-type(2) a:hover{
		background-color: rgb(246,81,119);
	}
	li:nth-of-type(3) a:hover{
		background-color: rgb(235,141,49);
	}
	li:nth-of-type(4) a:hover{
		background-color: rgb(233,217,132);
	}
	li:nth-of-type(5) a:hover{
		background-color: rgb(178,215,107);
	}
	li:nth-of-type(6) a:hover{
		background-color: rgb(0,190,189);
	}
	li a:hover{
		text-decoration: none;
		padding: 13px 18px;
	}
}