a.course{
	text-align: center;
	padding: 50px 10px;
	font-size: 15px;
}
a.course:hover{
	text-decoration: none;
	background-color: rgba(46, 122, 162, 0.2);
}
.marks{
	float: left;
	padding: 10px;
}
table.grades{
	width: 100%;
}
.nav.nav-tabs{
	border-bottom: 0px;
	a{
		border-radius: 0px !important;
	}
	.active a, .active a:hover, .active a:focus{
		font-size: 15px;
		border: 0px;
		border-top: 5px solid #2e7aa2;
		border-radius: 5px;
	}
}
.homework, .notes{
	.content{
		padding: 10px 0px;
		.header{
			text-decoration: underline;
			font-size: 15px;
		}
	}
}
.give-marks{
	a{
		padding: 10px 15px;
	}
	li{
		margin: 0px;
		padding: 0px !important;
	}
	li:nth-of-type(1) a{
		background-color: rgba(220,20,60,0.5);
	}
	li:nth-of-type(2) a{
		background-color: rgba(246,81,119,0.5);
	}
	li:nth-of-type(3) a{
		background-color: rgba(235,141,49,0.5);
	}
	li:nth-of-type(4) a{
		background-color: rgba(233,217,132,0.5);
	}
	li:nth-of-type(5) a{
		background-color: rgba(178,215,107,0.5);
	}
	li:nth-of-type(6) a{
		background-color: rgba(0,190,189,0.5);
	}
	li:nth-of-type(1) a:hover{
		background-color: rgb(220,20,60);
		color: white !important;
	}
	li:nth-of-type(2) a:hover{
		background-color: rgb(246,81,119);
	}
	li:nth-of-type(3) a:hover{
		background-color: rgb(235,141,49);
	}
	li:nth-of-type(4) a:hover{
		background-color: rgb(233,217,132);
	}
	li:nth-of-type(5) a:hover{
		background-color: rgb(178,215,107);
	}
	li:nth-of-type(6) a:hover{
		background-color: rgb(0,190,189);
	}
	li a:hover{
		text-decoration: none;
		padding: 13px 15px;
	}
}