.sidebar{
	position: fixed !important;
	top: 0px;
	left: 0px;
  background-color: #196d8d;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjEwMCUiIHgyPSIwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMmU3YWEyIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMzYwNzgiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%,color-stop(0, rgb(46, 122, 162)),color-stop(1, rgb(3, 96, 120)));
  background-image: -webkit-repeating-linear-gradient(bottom,rgb(46, 122, 162) 0%,rgb(3, 96, 120) 100%);
  background-image: repeating-linear-gradient(to top,rgb(46, 122, 162) 0%,rgb(3, 96, 120) 100%);
  background-image: -ms-repeating-linear-gradient(bottom,rgb(46, 122, 162) 0%,rgb(3, 96, 120) 100%);
	overflow: hidden;
	height: 100vh;
	padding: 0px !important;
	z-index: 10;
	color: white;
	.content{
		padding-top: 75px;
		height: 100%;
		width: calc(100% + 15px);
		overflow-y: scroll;
		overflow-x: hidden;
	}
	.logo{
		position: absolute;
		padding: 20px;
		font-size: 15px;
		font-weight: bold;
	}
	.personal{
		padding: 20px 10px;
		position: relative;
		overflow: hidden;
		background-color: rgba(0,0,0,0.2);
		.image{
			padding: 0px;
		}
		.name a{
			color: white;
			font-weight: bold;
			font-size: 15px;
		}
		.info{
			padding: 0px;
			height: 100px;
			min-width: 200px;
			.footer{
				background-color: transparent;
				padding: 0px;
				position: absolute;
				bottom: 0px;
				a{
					padding: 0px 15px;
					color: white;
				}
			}
		}
	}
	.easy-access{
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0px !important;
		li{
			a{
				display: block;
				text-decoration: none;
				color: white;
				padding: 20px;
				i{
					padding: 0px 10px;
				}
			}
			a:hover{
				background-color: rgba(0,0,0,0.1);
			}
			a.active{
				background-color: rgba(0,0,0,0.3);
				font-weight: bold;
			}
		}
	}

	.sidebar-footer{
		position: absolute;
		bottom: 0px;
		background-color: transparent;
		b{
			line-height: 30px;
			a{
				color: white;
			}
		}
		i{
			font-size: 20px;
			padding: 0px 15px 10px 15px;
		}
	}
}

.right-sidebar{
	padding: 0px !important;
	.content{
		position: fixed;
		top: 290px;
	}
	ul.subjects{
		list-style: none;
		li{
			padding: 10px;
			a{
				padding: 10px;
			}
		}
	}
}