.register-options{
	a{
		position: relative;
		list-style: none;
		text-align: center;
		padding: 50px 0px 100px 0px;
		color: #2e7aa2 !important;
		b{
			position: absolute;
			width: 200px;
			font-size: 20px;
			margin: 100% calc(-50% - 75px);
		}
	}
	a:hover{
		background-color: #2e7aa2;
		color: white !important; 
	}
}